<script>
	document.getElementById('colab').parentElement.style.background = "lightcyan"
</script>

<div class="info">
	Para a filtragem colaborativa seguimos o seguinte processo: 
	<br>
	1) Buscamos os 10 usuários mais próximos do usuário logado, com base em Pearson;
	<br>
	2) Identificamos os filmes que ainda não foram classificados pelo usuário logado;
	<br>
	3) Iteramos por esses filmes aplicando a fórmula de filtragem colaborativa para cada um deles;
	<br>
	3.1) Adicionamos o filme ao vetor de recomendações caso o resultado seja superior a 3.5.
	<br>
</div>

<ul class="movies" style="display: none;">
	<% i = 0 %>
	<% @movies.each do |movie| %>
			<%= link_to movie do %>
				<li class="movie <%= movie.category.name %> <%= 'liked' if current_user.reviewed?(movie.id)%>">
					<%= movie.title %><br><br>
					<%= movie.vote_avg.round(2) %>
					<% if 1 == 0 && i < @weights.count %>
						<div class="weight">
						<font color="red">grau: <%= @weights[i] %></font>
						<% i =+1 %>
						</div>
					<% end %>
				</li> 
			<% end %>
	<% end %>
</ul>

<%= render 'movies' %>