<div class="header">
	<h1><%= link_to 'UNIFLIX', root_path %></h1>
	<div class="user-area">
		<% unless user_signed_in? %>
			<% link_to 'entrar', new_user_session_path %>
		<% else %>
			<%= link_to 'sair', destroy_user_session_path, method: :delete %>
		<% end %>
	</div>
</div>
<div class="options">
		<%= link_to collaborative_filtering_path, class: 'option' do %>
			<li>
				Filtragem colaborativa
			</li>
		<% end %>
		<%= link_to content_based_filtering_path, class: 'option'  do %>
			<li>
				Por conteúdo
			</li>
		<% end %>
		<%= link_to past_filtering_path, class: 'option' do %>
			<li>
				Passado
			</li>
		<% end %>
		<%= link_to liked_book_path, class: 'option' do %>
			<li>
				avaliados
			</li>
		<% end %>
</div>

<style type="text/css">
	@media only screen and (max-width: 1000px) 
	{
  		.option 
  		{
    		width: 100% !important;
    		font-size: 2em !important;
    		border-bottom: solid 1px black !important;
  		}

  		.info
  		{
  			font-size: 10px;
  		}

  		.book
  		{
  			min-width: 40% !important; 
  			font-size: 2em;
  			padding: 35px 0px !important;
  			min-height: 230px;
  			margin: 20px !important;
  		}
	}
</style>