<div class="header">
	<h1><%= link_to 'UNIFLIX', root_path %></h1>
	<div class="user-area">
		<% unless user_signed_in? %>
			<% link_to 'entrar', new_user_session_path %>
		<% else %>
			<%= link_to 'sair', destroy_user_session_path, method: :delete %>
		<% end %>
	</div>
</div>
<div class="options">
	<ul>
		<%= link_to collaborative_filtering_path, class: 'option' do %>
			<li>
				Filtragem colaborativa
			</li>
		<% end %>
		<%= link_to query_filtering_path, class: 'option'  do %>
			<li>
				Por conteúdo
			</li>
		<% end %>
		<%= link_to past_filtering_path, class: 'option' do %>
			<li>
				Passado
			</li>
		<% end %>
		<%= link_to liked_book_path, class: 'option' do %>
		<li>
			Curtidos
		</li>
		<% end %>
	</ul>
</div>