<div class="info">
	aqui estão apresentados livros selecionados em função da avaliação de outros usuários com o perfil próximo ao seu:
	<br><br>
	1) para cada usuário, separamos os livros curtidos em comum entre você e ele;
	<p>
	2) geramos um grau de similaridade baseado na quantidade de livros curtidos que vocês compartilham;
	<p>
	3) ordenamos todos os livros do sistema de acordo com os graus de similaridade apresentados.
</div>
<ul class="books">
	<% i = 0 %>
	<% @books.each do |book| %>
			<%= link_to book do %>
				<li class="book <%= book.genre %> <%= 'liked' if current_user.likes?(book.id)%>">
					<%= book.title %><br><br>
					<%= "(#{book.author})" %>
					<% if i < @weights.count %>
						<div class="weight">
						<font color="red">grau: <%= @weights[i] %></font>
						<% i =+1 %>
						</div>
					<% end %>
					<% unless (current_user.likes?(book.id)) %>
					<%= link_to "curtir", like_path(book_id: book.id, user_id: current_user.id), method: :post, class: 'like', onclick: 'like(this);', remote: true %>
					<% else %>
						<%= link_to "descurtir", unlike_path(book_id: book.id, user_id: current_user.id), method: :post, class: 'unlike', onclick: 'unlike(this);', remote: true %>
					<% end %>
				</li> 
			<% end %>
	<% end %>
</ul>

