<ul class="books">
	<% i = 0 %>
	<% @books.each do |book| %>
			<%= link_to book do %>
				<li class="book <%= book.genre %> <%= 'liked' if current_user.likes?(book.id)%>">
					<%= book.title %><br><br>
					<%= "(#{book.author})" %>
					<% if i < @weights.count %>
						<div class="weight">
						peso: <%= @weights[i] %>
						<% i =+1 %>
						</div>
					<% end %>
				</li> 
			<% end %>
	<% end %>
</ul>

